<div class="container-fluid about-section">
    <div class="text-center">
        <h1>About Us</h1>
        <h4>We are the members of POD 5 </h4>
    </div>
    <hr>

    <h2 style="text-align:center">Our Team</h2>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Ritwij"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">AKASH K NAIR</h5>
                   
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Vishnu"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Barghavi</h5>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Aditya"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Bhavana</h5>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Akash"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Pratik Garg</h5>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row">
            <div class="col-md-4">
                <img src="https://cdn.pixabay.com/photo/2014/04/02/10/25/man-303792_1280.png" alt="Sandeep"
                    style="width:70%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Unni R Sankar</h5>
                   
                </div>
            </div>
        </div>
    </div>
    
</div>